<header>
<div id="site-title"><a href="https://chadblack.net/561-Inquisition">HILA 561
(F2020)</a></div>
<div id="site-description"><em>a LatAm History Class</em></div>

<nav>
|  <a href="/561-Inquisition/syllabus">syllabus</a>  | <a
href="/561-Inquisition/assignments">assignments</a>  |  <a
href="/561-Inquisition/calendar">calendar</a> | <a
href="https://teams.microsoft.com/_#/school/tab::a44b56eb-114c-415d-b2a1-65cc31822333/General?threadId=19:c0e2545b61f343a9939848517d6c4226@thread.tacv2&ctx=channel">team</a>
|
</nav>
</header>
