<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>HILA 561{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/561-Inquisition/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/561-Inquisition/css/screen.css">
  <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Miltonian+Tattoo' rel='stylesheet' type='text/css'>

 
    </head>
    <body>

        <div id="wrapper">
            {% include header.html %}
 

<div class="post">
  <article class="post-content">
    <h3 id="history">{{ page.title }}</h3>
    <p id="history">{{ page.date | date_to_long_string }}</p>
   {{ content }}
  </article>

</div>
{% include footer.html %}
</div>

</body>
</html>
